<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog.txt">
    
    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>

    <!-- the targets to write to -->
    <targets>
        <target name="database" xsi:type="Database">
            <dbProvider>Npgsql.NpgsqlConnection, Npgsql</dbProvider>
            <connectionString>User ID=chucknorris;Password=G3t7nQqbCyjuT8W;Server=80.78.251.69;Port=5432;Database=leoka_estetica_dev;Integrated Security=true;Pooling=true;</connectionString>
            <commandText>
                insert into "Logs"."Logs" ("Application", "Timestamp", "Level", "Message", "Logger", "CallSite", "Exception")
                values (:Application, CAST(:Timestamp AS timestamp), :Level, :Message, :Logger, :Callsite, :Exception);
            </commandText>
            <parameter name="@Application" layout="TestApp" />
            <parameter name="@Timestamp" layout="${longdate}" />
            <parameter name="@Level" layout="${level}" />
            <parameter name="@Message" layout="${message}" />
            <parameter name="@Logger" layout="${logger}" />
            <parameter name="@Callsite" layout="${callsite}" />
            <parameter name="@Exception" layout="${exception:format=tostring}" />
        </target>
    </targets>
    
    <rules>
        <logger name="*" minlevel="Info" writeTo="database" />
    </rules>
</nlog>