<?xml version="1.0" encoding="utf-8"?>

<nlog
    xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    autoReload="true"
    internalLogLevel="Info"
    internalLogFile="c:\temp\internal-nlog-AspNetCore.txt">
    <extensions>
        <add assembly="NLog.Web.AspNetCore" />
    </extensions>
    <targets>
        <variable name="logDirectory" value="logs/${shortdate}" />
        
        <target name="file1" xsi:type="File" fileName="${logDirectory}/file1.txt" />
        <target
            name="database"
            xsi:type="Database"
            dbProvider="Npgsql.NpgsqlConnection" />
        <connectionString>
            User ID=chucknorris;Password=lP5sK8hS6n;Server=80.78.251.69;Port=5432;Database=leoka_estetica_dev;Integrated Security=true;Pooling=true
        </connectionString>
        <commandText>
            INSERT INTO 'Logs'.'Logs' 
            (
                'MachineName',
                'Logged',
                'Level',
                'Message',
                'Logger',
                'CallSite',
                'Exception'
            ) 
            VALUES 
            (
                @MachineName,
                @Logged,
                @Level,
                @Message,
                @Logger,
                @CallSite,
                @Exception
            )
        </commandText>
        <parameter name="@MachineName" layout="${machinename}" />
        <parameter name="@Logged" layout="${logged}" />
        <parameter name="@Level" layout="${level}" />
        <parameter name="@Message" layout="${message}" />
        <parameter name="@Logger" layout="${logger}" />
        <parameter name="@CallSite" layout="${callsite}" />
        <parameter name="@Exception" layout="${exception.tostring}" />
    </targets>

    <rules>
        <logger name="*" minlevel="Debug" writeTo="database" />
        <logger name="*" minlevel="Debug" writeTo="file1" />
        <logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="database" />
        <logger name="Microsoft.*" maxlevel="Info" final="true" />
        <logger name="Microsoft.Net.Http.*" maxlevel="Info" final="true" />
        <logger name="*" minlevel="Debug" writeTo="database" />
    </rules>
</nlog>